# Format: //devtools/kokoro/config/proto/build.proto

# Build logs will be here
action {
  define_artifacts {
    regex: "**/*sponge_log.xml"
  }
}

# Download trampoline resources.
gfile_resources: "/bigstore/cloud-devrel-kokoro-resources/trampoline"

# Use the trampoline script to run in docker.
build_file: "google-http-java-client/.kokoro/trampoline.sh"

before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 70247
      keyname: "maven-gpg-keyring"
    }
  }
}

before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 70247
      keyname: "maven-gpg-passphrase"
    }
  }
}

before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 70247
      keyname: "maven-gpg-pubkeyring"
    }
  }
}

before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 70247
      keyname: "sonatype-credentials"
    }
  }
}
