'on':
  push:
    branches:
      - 2.1.x
  pull_request: null
name: ci
jobs:
  units:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java:
          - 8
          - 11
          - 17
          - 25
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
      - run: java -version
      - run: .kokoro/build.sh
        env:
          JOB_TYPE: test
  windows:
    runs-on: windows-latest
    steps:
      - name: Support longpaths
        run: git config --system core.longpaths true
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
      - run: java -version
      - run: .kokoro/build.bat
        env:
          JOB_TYPE: test
  dependencies:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java:
          - 8
          - 11
          - 17
          - 25
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
      - run: java -version
      - run: .kokoro/dependencies.sh
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
      - run: java -version
      - run: .kokoro/build.sh
        env:
          JOB_TYPE: lint
  clirr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
      - run: java -version
      - run: .kokoro/build.sh
        env:
          JOB_TYPE: clirr
  units-java21:
    name: units (21)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
      - name: >-
          Set jvm system property environment variable for surefire plugin (unit
          tests)
        run: echo "SUREFIRE_JVM_OPT=-Djvm=${JAVA_HOME}/bin/java" >> $GITHUB_ENV
        shell: bash
      - uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: temurin
      - run: .kokoro/build.sh
        env:
          JOB_TYPE: test
